.middle
{
    position: fixed;
    left: 33%;
    bottom: 44%;

}
.dangnhap
{
    position: fixed;
    left: 45%; 
    bottom: 70%;
    
}
.buoi4
{
    position: fixed;
    left: 60.3%;
    bottom: 40%;
    
}