@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    line-height: 1.5;
} 
.top-bar{
    width: 100%;
    height: 60px;
    background-color: white;
    padding: 8px 16px 8px 16px;
    margin: 0px auto;
        }
        .web-title{
       
        display: flex;
        justify-content: space-between;
        justify-items: center;
        }
        .logo{
            padding-left: 40px;
            color: #5CB85C;
            font-size: large;
            font-weight: 900;
            padding-bottom: 4px;
            display: flex;
            align-items: center;
        }
        .menu{
            display: flex;
            justify-content: flex-end;
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .menu li a{
            color: grey;
            display: block;
            padding: 10px 4px;
            text-decoration: none;
        }
        .middle-bar{
        
        }
        .middle2{
        
        }
        .container-middle{
        margin-top: 24px;
        margin-left: 61px;
        margin-right: 61px;
        padding-left: 15px;
        padding-right: 15px;
        max width: 1140px;
        }
        .row{
        display: flex;
        }
        .row-column{
        padding-left: 15px;
        width: 540px;
        margin-left: 25%;
        padding-right:  15px;
        }
        .text-content{
        text-align: center;
        }
        .blank-fill-in{
        
        }
        .username-context{
        margin-bottom: 14px;
        }
        .username-txt{
        padding: 12px 24px 12px 24px;
        width: 100%;
        font-size: 16px;
        }
        .email-context{
        margin-bottom: 14px;
        }
        .email-txt{
        padding: 12px 24px 12px 24px;
        width: 100%;
        font-size: 16px;
        }
        .password-context{
        margin-bottom: 14px;
        }
        .pass-txt{
        padding: 12px 24px 12px 24px;
        width: 100%;
        font-size: 16px;
        }
        .btn-context{
        display: flex;
        justify-content: flex-end;
        }
        .btn{
        color: #fff;
        background-color: #5CB85C;
        border-color: #5CB85C;
        padding: 12px 24px 12px 24px;
        border: 1px solid transparent;
        font-size: 16px;
        border-radius: 4px;
        }
        .bottom-bar{
        
        }